{% extends 'base.html.twig' %}

{% block title %}Music
{% endblock %}

{% block body %}
	<h1>Music</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ music.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ music.name }}</td>
			</tr>
			<tr>
				<th>Duration</th>
				<td>{{ music.duration }}</td>
			</tr>
			<tr>
				<th>DateOfRelease</th>
				<td>{{ music.dateOfRelease ? music.dateOfRelease|date('Y-m-d') : '' }}</td>
			</tr>
		</tbody>
	</table>
	<h1>Artist</h1>

	<table class="table">
		<tbody>
			{% set i = 1 %}

			{% if music.artists|length != 0 %}
				{% for artist in music.artists %}

					<tr>
						<th>Artist{{i}}</th>
						<td>
							<a href="{{path('app_artist_show',{'id':artist.id })}}">{{artist}}</a>
						</td>
					</tr>
				</td>
			</tr>

			{% set i=i+1 %}

		{% endfor %}

	{% else %}

		<h2>No Artists
		</h2>
	{% endif %}
</tbody></tbody></table><a href="{{ path('app_music_index') }}">back to list</a><a href="{{ path('app_music_edit', {'id': music.id}) }}">edit</a>{{ include('music/_delete_form.html.twig') }}{% endblock %}
