{% extends 'base.html.twig' %}

{% block title %}Artist
{% endblock %}

{% block body %}
	<h1 class="text-center my-5">Artist</h1>

	<div class="row">
		<div class="col-6 m-auto">
			<table class="table full-width">
				<tbody>
					<tr class="text-center">
						<th class="bg-secondary width-50">Id</th>
						<td>{{ artist.id }}</td>
					</tr>
					<tr class="text-center">
						<th class="bg-secondary width-50">FirstName</th>
						<td>{{ artist.firstName }}</td>
					</tr>
					<tr class="text-center">
						<th class="bg-secondary width-50">LastName</th>
						<td>{{ artist.lastName }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="text-center my-3">

		<a href="{{ path('app_artist_index') }}" class="btn btn-info">back to list</a>

		<a href="{{ path('app_artist_edit', {'id': artist.id}) }}" class="btn btn-info">edit</a>

	</div>

	{{ include('artist/_delete_form.html.twig') }}
{% endblock %}
